In [27]:
import pandas as pd

In [28]:
# Part 1

In [29]:
# Generate data and load into DataFrame:
data = {
    'age': [25, 30, 22, 40, 55, 60, 33, 28, 45, 50],
    'income': [50000, 60000, 45000, 70000, 80000, 90000, 65000, 62000, 75000, 85000],
    'age_group': ['20-30', '30-40', '20-30', '40-50', '50-60', '50-60', '30-40', '20-30', '40-50', '50-60']
}
df = pd.DataFrame(data)

In [30]:
# Group data by age_group, compute statistics for income + print:
summary_stats = df.groupby('age_group')['income'].describe()
print(summary_stats)

           count          mean          std      min      25%      50%  \
age_group
20-30        3.0  52333.333333  8736.894948  45000.0  47500.0  50000.0
30-40        2.0  62500.000000  3535.533906  60000.0  61250.0  62500.0
40-50        2.0  72500.000000  3535.533906  70000.0  71250.0  72500.0
50-60        3.0  85000.000000  5000.000000  80000.0  82500.0  85000.0

               75%      max
age_group
20-30      56000.0  62000.0
30-40      63750.0  65000.0
40-50      73750.0  75000.0
50-60      87500.0  90000.0

In [31]:
# Group the data by age_group; Select income column for each of the groups created; Calculate median for income:
median_income = df.groupby('age_group')['income'].median()
print("Median Income by Age Group:")
print(median_income)

Median Income by Age Group:
age_group
20-30    50000.0
30-40    62500.0
40-50    72500.0
50-60    85000.0
Name: income, dtype: float64

In [32]:
# Print column names:
print("Column Names:", df.columns)

Column Names: Index(['age', 'income', 'age_group'], dtype='object')

In [33]:
# Modified dataset with repeated values; define in DataFrame:
data = {
    'age': [25, 30, 25, 40, 55, 60, 33, 28, 45, 50, 25, 30, 28, 30, 25],
    'income': [50000, 60000, 50000, 70000, 80000, 90000, 65000, 62000, 75000, 85000, 50000, 60000, 62000, 70000, 75000],
    'age_group': ['20-30', '30-40', '20-30', '40-50', '50-60', '50-60', '30-40', '20-30', '40-50', '50-60', '20-30', '30-40', '20-30', '30-40', '20-30']
}
df = pd.DataFrame(data)

In [34]:
# Calculate mode:
mode_age = df['age'].mode()
mode_income = df['income'].mode()
print(f"Mode of Age: {mode_age.values}")
print(f"Mode of Income: {mode_income.values}")

Mode of Age: [25]
Mode of Income: [50000]

In [35]:
# Part 2

In [36]:
# Load dataset and print first 5 rows:
df = pd.read_csv('datasets/Iris.csv')
print(df.head()) # Print first 5 columns

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [37]:
# Group data; Compute percentiles; Display:
summary_stats_species = df.groupby('Species').describe()
percentiles = df.groupby('Species').quantile([0.25, 0.5, 0.75])
summary_stats_species = df.groupby('Species').describe()
print("\nPercentiles by Species:")
print(percentiles)

Percentiles by Species:
                          Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa     0.25   13.25          4.800         3.125          1.400
                0.50   25.50          5.000         3.400          1.500
                0.75   37.75          5.200         3.675          1.575
Iris-versicolor 0.25   63.25          5.600         2.525          4.000
                0.50   75.50          5.900         2.800          4.350
                0.75   87.75          6.300         3.000          4.600
Iris-virginica  0.25  113.25          6.225         2.800          5.100
                0.50  125.50          6.500         3.000          5.550
                0.75  137.75          6.900         3.175          5.875

                      PetalWidthCm
Species
Iris-setosa     0.25           0.2
                0.50           0.2
                0.75           0.3
Iris-versicolor 0.25           1.2
                0.50           1.3
                0.75           1.5
Iris-virginica  0.25           1.8
                0.50           2.0
                0.75           2.3

In [38]:
# Group the data by variety; Select sepal.width column for each of the groups created; Display summary statistics:
summary_stats_species = df.groupby('Species')['SepalWidthCm'].describe()
print("\nSummary Statistics by Species for Sepal Width:")
print(summary_stats_species)

Summary Statistics by Species for Sepal Width:
                 count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [39]:
# Group by variety and compute the median for numeric columns:
median_values = df.groupby('Species').median()
print("Median Values by Species:")
print(median_values)

Median Values by Species:
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5            5.0           3.4           1.50
Iris-versicolor   75.5            5.9           2.8           4.35
Iris-virginica   125.5            6.5           3.0           5.55

                 PetalWidthCm
Species
Iris-setosa               0.2
Iris-versicolor           1.3
Iris-virginica            2.0

In [40]:
# Group the data by variety; Select sepal.width column for each of the groups created; Display median:
median_sepal_length = df.groupby('Species')['SepalLengthCm'].median()
print("Median Sepal Length by Species:")
print(median_sepal_length)

Median Sepal Length by Species:
Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64

In [41]:
# Calculate & print mode for sepal.width:
mode_width = df['SepalWidthCm'].mode()
print(f"Mode of Width: {mode_width.values}")

Mode of Width: [3.]